<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zadania</title>
<!--    <link type="text/css" rel="stylesheet" href="/static/style.css">-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form method="post">
        <input type="text" name="task" placeholder="Zadanie">
        <input type="submit" value="Dodaj">
    </form>
    <ul>
        {% for task in tasks %}
            <li>{{ task.text }}</li>
        {% endfor %}
    </ul>
</body>
</html>