{% extends 'tasks_db/layout.html' %}

{% block title %}
<title>Lista zadań</title>
{% endblock %}

{% block body %}
    <form action="{% url 'tasks_db:register' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="task" placeholder="Zadanie">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Zarejestruj">
        </div>
    </form>

    <ul class="list-group">
        {% for task in tasks %}
<!--    url 'tasks_db:update' task.id  --- rozwiązuje endpoint do: url dla funkcji o nazwie
   update z przestrzeni nazw tasks_dn, argument następujący po 'tasks_db:update' (tutaj task.id)
   jest dopasowywany do konwertera -->
        <li class="list-group-item"><a href="{% url 'tasks_db:update' task.id %}">{{ task }}</a>
        <form style="display:inline;" action="{% url 'tasks_db:delete' task.id%}" method="post">{% csrf_token %}<input type="submit" value="Usuń" class="btn btn-danger"></form>
        </li>
        {% endfor %}
    </ul>
{% endblock %}