<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pierwszy</title>
</head>
<body>
    <h1>Pierwszy</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cum cupiditate eum incidunt inventore laboriosam laborum, modi natus nobis nulla numquam odio perspiciatis quasi quisquam reiciendis sit voluptates! A, maxime.</p>

<!--    Przejdź do strony <a href="/drugi">drugiej</a>.-->
    Przejdź do strony <a href="{{ url_for('second') }}">drugiej</a>.
</body>
</html>