<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Drugi</title>
</head>
<body>
    <h1>Drugi</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium hic libero nihil perspiciatis placeat quo suscipit? Assumenda expedita repudiandae unde ut veritatis. Consequuntur cumque enim error et iste magni, officiis.</p>
<!--    Przejdź do strony <a href="/drugi">pierwszej</a>-->
    Przejdź do strony <a href="{{ url_for('first') }}">pierwszej</a>
    Przejdź do strony <a href="{{ url_for('third', text='Test linku') }}">trzeciej</a>
</body>
</html>