<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zadania</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <h1 style="text-align: center;">Aktualizuj zadanie</h1>
    <form method="post">
        <div class="form-group">
            <input class="form-control" type="text" name="task" placeholder="Aktualizuj zadanie" value="{{ task.text }}">
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Zatwierdź">
        </div>
    </form>
</body>
</html>